.subject {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subject_icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #83a6ff;
}

.subject_icon img {
  width: 40px;
  object-fit: contain;
}

.subject h1 {
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 0px;
}

.subject h1.light {
  color: var(--dark-navy, #313e51);
}

.subject h1.dark {
  color: white;
}

@media (max-width: 550px) {
  .subject {
    gap: 16px;
  }

  .subject h1 {
    font-size: 1.125rem;
  }
  .subject_icon {
    width: 40px;
    height: 40px;
  }

  .subject_icon img {
    width: 28.58%;
  }
}
