.quiz {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 74px auto;
  gap: 30px;
  transition: all 1s;
}

.quiz_question {
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.quiz_question h2 {
  margin: 0px 0px 27px 0px;
  font-family: var(--font);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  line-height: 150%;
}

.quiz_question h2.light {
  color: var(--Grey-Navy, #626c7f);
}

.quiz_question h2.dark {
  color: var(--Light-Bluish, #abc1e1);
}

.quiz_question h1 {
  font-family: var(--font);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 550px;
  line-height: 120%;
  margin: 0px 0px 168px 0px;
}

.quiz_question h1.light {
  color: var(--Dark-Navy, #313e51);
}

.quiz_question h1.dark {
  color: var(--Pure-White, #fff);
}

@media (max-width: 1200px) {
  .quiz {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .quiz_question h1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 800px) {
  .quiz {
    flex-direction: column;
    gap: 65px;
  }

  .quiz_question {
    width: 100%;
  }

  .quiz_question h1 {
    font-size: 2.25rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .quiz {
    gap: 40px;
  }

  .quiz_question h2 {
    font-size: 0.875rem;
    margin-bottom: 12px;
  }

  .quiz_question h1 {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
}
