.quiz_submit {
  margin-top: 8px;
  cursor: pointer;
  border: none;
  height: 92px;
  border-radius: 24px;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: var(--font);
  outline: 2px solid #2c9caf;
  overflow: hidden;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  &:hover {
    color: #ffffff;
    transform: scale(1.025);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  &:hover::before {
    width: 250%;
  }
}

.quiz_submit.light {
  background: transparent;
}

.quiz_submit.dark {
  background-color: whitesmoke;
}

.errorMessage {
  display: none;
  margin: 8px 0px 0px 0px;
  justify-content: center;
  gap: 13px;
  align-items: center;
  color: var(--Red, #ee5454);
  font-family: var(--font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.errorMessage img {
  width: 40px;
  object-fit: contain;
}

@media (max-width: 550px) {
  .quiz_submit {
    margin-top: 0px;
    font-size: 1.125rem;
    height: 56px;
    border-radius: 12px;
  }

  .errorMessage {
    font-size: 1.125rem;
    gap: 12px;
  }

  .errorMessage img {
    width: 32px;
  }
}
